.expense-category {
  width: 100%;
  margin-top: 32px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .expense-category-summary-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .expense-category-field {
    font-size: 16px;
  }
}

.expenses-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
